<app-calendar></app-calendar>

<header class='section-header'>
<h3 class='mat-title section-title'>First Reading</h3>
<span class='verse' id='UniversalisToday_Mass_R1.source'></span>
</header>

<p id='UniversalisToday_Mass_R1.text'></p>

<header class='section-header'>
    <h3 class='mat-title section-title'>Responsorial Psalm</h3>
    <span class='verse' id='UniversalisToday_Mass_Ps.source'></span>
</header>
<p id='UniversalisToday_Mass_Ps.text'></p>

<header class='section-header'>
    <h3 class='mat-title section-title'>Second Reading</h3>
    <span class='verse' id='UniversalisToday_Mass_R2.source'></span>
</header>

<p id='UniversalisToday_Mass_R2.text'></p>

<header class='section-header'>
    <h3 class='mat-title section-title'>Gospel Acclamation</h3>
    <span class='verse' id='UniversalisToday_Mass_GA.source'></span>
</header>

<p id='UniversalisToday_Mass_GA.text'></p>

<header class='section-header'>
    <h3 class='mat-title section-title'>Gospel</h3>
    <span class='verse' id='UniversalisToday_Mass_G.source'></span>
</header>

<p id='UniversalisToday_Mass_G.text'></p>


<!-- <p id='UniversalisToday_copyright.text'></p> -->